html {
    display: block;
}

.header {
    background-color: #003EB0;
    color: #FFC038;
    font-family: Trochut;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    max-width: 960px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}